.root {

}

.header {
    -fx-font-size: 10;
    -fx-background-color: #f6f6f6;
    -fx-padding: 5 15 5 15;
    -fx-spacing: 10;
}

.form {
    -fx-background-color: #f6f6f6;
    -fx-padding: 10 10 10 10;
    -fx-hgap: 5;
    -fx-vgap: 5;

}

.cantons {
    -fx-font-size: 30;
    -fx-padding: 40 20 30 20;
    -fx-spacing: 20;
}

.label {
    -fx-text-fill: -fx-text-base-color;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #a6b5c9,
    linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
    linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: lightgrey;
}

.button:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.button:armed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-background-color: #a6b5c9,
    linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
    linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-text-fill: white;
}

.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button {
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label {
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

Header {
    /*-fx-min-width:      485px;*/
    -fx-pref-width:     685px;
    /*-fx-max-width:      685px;*/
    /*-fx-min-height:     100px;*/
    -fx-pref-height:    280px;
    /*-fx-max-height:     300px;*/
    -fx-padding: 5px;
}

Overview {
    /*-fx-min-width:      265px;*/
    -fx-pref-width:     415px;
    -fx-max-width:      415px;
    /*-fx-min-height:     100px;*/
    -fx-pref-height:    600px;
    /*-fx-max-height:     300px;*/
    -fx-padding: 5px;
}

Toolbar {
    /*-fx-min-width:      100px;*/
    -fx-pref-width:     1160px;
    /*-fx-max-width:      300px;*/
    /*-fx-min-height:     100px;*/
    -fx-pref-height:    10px;
    /*-fx-max-height:     300px;*/
    -fx-padding: 5px;
    -fx-background-color: #2E64FE;
}

VBox {
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-border: 10px;
    -fx-spacing: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 10px;
    -fx-vertical-grid-lines-visible: 20px;
    -fx-spacing: 20px;

    -fx-vgap: 50px;
}

SplitPane {
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-border: 10px;
    -fx-spacing: 5px;
    -fx-spacing: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 10px;

    -fx-vgap: 50px;
}

ScrollPane {
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-border: 10px;
    -fx-spacing: 5px;
    -fx-spacing: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 10px;

    -fx-vgap: 50px;
}









/*  WaterTank Style */

.watertank-control {
    -fx-padding: 5;
    -fx-background-color: transparent;
    -base-color: rgb(2, 138, 204);
}

.watertank-control .background-circle {
    -fx-fill: -base-color;
}

.watertank-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 14;
    -fx-fill: derive(-base-color, 90%);
}

.tank{

    -fx-fill: lightgrey;


}

.watertank-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 14;
    -fx-font-color: green;
    -fx-fill: derive(white, 95%);
}



.water{
    -fx-position: absolute;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-width: 240px;
    -fx-height: 350px;
    -fx-border: 6px;
    -fx-border-style:solid;
    -fx-border-color: white;
    -fx-border-top: 6px;
    -fx-border-style-top:solid;
    -fx-border-color-top: transparent;
    -fx-border-radius : 10px;
    -fx-border-top-left-radius: 5px;
    -fx-border-top-right-radius: 5px;
    -fx-fill: url('../resources/image/Water.gif');
    -fx-background-position: 0px 350px;
    -fx-background-repeat: repeat-y;
    fx-background-border: transparent;
    -fx-animation: anim 20s ease-in-out infinite;
}

@keyframes anim{


    20% {
        -fx-background-position: 3000px 0px;
    }

    100% {
        -fx-background-position: 6000px 350px;
    }


}
